html {
    scroll-behavior: smooth;
}
* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: #000;
}
.pc {
    display: block;
}
.dis-no {
    display: none;
}
.scrollLock {overflow: hidden}
.flex_box {
    display: flex;
}
.pop_cont,
.shadow_box img {
    box-shadow: 1rem 1rem 3rem 0 #00000040;
    border-radius: 3rem;
}
.main_tit {
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 700;
}
.btn {
    color: #fff;
    padding: 1.5rem 3.3rem 1.5rem 3.1rem;
    border-radius: 4rem;
    background-color: #D97652;;
}
.btn_top {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
    position:fixed;
    bottom:17.9rem;
    right:2.4rem;
    z-index:999;
    border:1px solid #c4c4c4;
    outline:none;
    background: #fff url("../img/icon_arr_off.svg") center no-repeat;
    cursor:pointer;
    padding:2.5rem;
    border-radius:100%;
}
.btn_top:hover {
    background: #fff url("../img/icon_arr_on.svg") center no-repeat;
}
.btn_top.visible {
    opacity: 1;
    visibility: visible;
}

/* header */
.header {
    padding: 3.1rem 0;
    background-color: #F2E9D8;
}
.header.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.header .inner_box {
    max-width: 128rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.header .nav {
    gap: 3rem;
}
.header .nav li:last-child {
    margin-left: 4.9rem;
}
.header .nav li a {
    font-family: Pretendard;
    font-size: 1.6rem;
}
/* hambuger menu*/
/* 숨겨진 체크박스 */
#check_box {
    display: none;
}

/* 햄버거 메뉴 버튼 */
#check_box + label {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
    right: 20px;
    top: 30px;
    transition: all 300ms;
    background: url("../img/icon_ham_off.svg") center no-repeat;
}

#check_box:checked + label {
    top: 28px;
    right: calc(300px + -60px); /* 메뉴 폭(300px) + 여백(26px)만큼 왼쪽으로 이동 */
    background: url("../img/icon_ham_on.svg") center no-repeat;
}

/* 사이드 메뉴 */
#side_menu {
    position: fixed;
    width: 289px;
    height: 100%;
    background: #263140;
    right: -289px;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 10.5rem 2rem 2rem 5rem;
    box-sizing: border-box;
}

/* 사이드 메뉴가 열릴 때 */
#check_box:checked + label + #side_menu {
    right: 0;
}

/* 사이드 메뉴 스타일 */
#side_menu ul {
    list-style-type: none;
    padding: 0;
}

#side_menu ul li {
    padding: 1.5rem 0;
}
#side_menu ul li:last-child {
    margin-top: 3.5rem;
}
#side_menu ul li a {
    color: #fff;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}
/* sec01 */
.sec01 {
    padding: 20rem 0 26rem;
    background: #F2E9D8 url("../img/sec01_bg01.png") 61.4583vw bottom no-repeat;
    background-size: contain;
}
.sec01 .cont {
    gap: 4rem;
    flex-direction: column;
    align-items: flex-start;
    max-width: 128rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}
/* sec02 */
.sec02 {
    align-items: center;
    justify-content: center;
    gap: 11rem;
    padding: 0 3.2rem;
    margin: 8rem 0 0;
}
.sec02 .r_box .sub_txt {
    margin-top: 3rem;
}
/* sec03 */
.sec03 {
    text-align: center;
    margin: 12rem 0 8rem;
}
.sec03 .main_tit,
.sec03 .sub_txt strong {
    font-weight: 700;
    color: #D97652;
}
.sec03 .sub_txt {
    margin-top: 4rem;
}
.sec03 .grid_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37.8rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 7.2rem;
    max-width: 128rem;
    margin: 8.8rem auto 0;
    padding: 0 3rem;
}
.sec03 .btn_wr {
    margin-top: 10rem;
}
.sec03 .btn_wr .txt {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 700;
}
.sec03 .btn_wr .more_btn {
    margin-top: 2.8rem;
}
/* sec04 */
.sec04 {
    padding: 0 3rem;
}
.sec04 .inner_box {
    max-width: 128rem;
    padding: 6.8rem 0 0;
    margin: 0 auto 18.1rem;
    border-top: 1px solid #C4C4C4;
}
.sec04 .inner_box .sub_txt {
    margin: 2rem 0 4.8rem;
    color: #606367;
}
.sec04 .map_area .map {
    width: 100%;
    height: 52rem;
}
/* sec05 */
.sec05 {
    padding: 17rem 0 ;
    background: url("../img/sec05_bg01.jpg") center no-repeat;
    position: relative;
}
.sec05 .inner_box {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 116.4rem;
    width: 86%;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 5.8rem;
    background: #263140;
    border-radius: 3rem;
}
.sec05 .inner_box .l_box .main_tit {
    color: #fff;
    font-size: 3.6rem;
    line-height: 4.5rem;
}
.sec05 .inner_box .l_box .sub_txt {
    color: #F2E9D8;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.sec05 .inner_box .l_box p + p {
    margin-top: 1.8rem;
}
.sec05 .inner_box .r_box {
    width: 42.6%;
    align-items: center;
    background: #fff;
    padding: .5rem .6rem .5rem 2.8rem;
    border-radius: 6rem;
}
.sec05 .inner_box .r_box label {
    margin: .3rem 1.8rem 0 0;
}
.sec05 .inner_box .r_box input {
    border: none;
    color: #767676;
    width: 100%;
    margin-right: 1rem;
}
.sec05 .inner_box .r_box input::placeholder {
    color: #767676;
}
.sec05 .pop_wr.active .pop_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}
.sec05 .pop_wr .pop_cont {
    display: none;
}
.sec05 .pop_wr.active .pop_cont {
    display: block;
    background: url(../img/sec05_pop_bg.jpg) 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 60rem;
    padding: 6rem 0 4rem;
    position: absolute;
    width: 100%;
    top: -21rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.sec05 .pop_wr .pop_cont img {
    width: 11rem;
}
.sec05 .pop_wr .pop_cont .main_tit {
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: #D97652;
    margin-top: 2.4rem;
}
.sec05 .pop_wr .pop_cont .sub_txt {
    font-size: 1.4rem;
    margin-top: 1.2rem;
}
.sec05 .pop_wr .pop_cont .btn {
    font-weight: 700;
    margin-top: 3.8rem;
}

/* footer */
.footer {
    padding: 4.5rem 0;
}
.footer .inner_box {
    max-width: 128rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.footer .inner_box .sns_box {
    gap: 2rem;
}

@media screen and (max-width:1280px) {
    .sec02 {
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }
}
@media screen and (max-width:1024px) {
    .pc {
        display: none;
    }
    .mo {
        display: block !important;
    }
    .header {
        padding: 2.4rem 0;
    }
}
@media screen and (max-width:768px) {
    .main_tit {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}